<body>
    <div class="container">
        <div class="form-box">
            <h2>Recuperar Contraseña</h2>
            <p class="subtitle">Ingresa tu correo electrónico para recuperar tu contraseña</p>

            <form action="#">
                <div class="input-group">
                    <label for="email">Correo Electrónico</label>
                    <div class="input-field">
                        <i class='bx bx-envelope'></i>
                        <input type="email" id="email" placeholder="ejemplo@correo.com" required>
                    </div>
                </div>

                <div class="input-group">
                    <label for="password">Nueva Contraseña</label>
                    <div class="input-field">
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" id="password" placeholder="Mínimo 8 caracteres" required>
                    </div>
                </div>

                <div class="input-group">
                    <label for="password">Confirmar Contraseña</label>
                    <div class="input-field">
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" id="password" placeholder="Mínimo 8 caracteres" required>
                    </div>
                </div>

                <button type="submit" class="btn-register">Confirmar</button>
            </form>
        </div>
    </div>
</body>

